*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(51, 101, 84);
}
/*-------------NAV BAR-------------*/
nav{
    
    background-color: rgb(187, 165, 136);
    height: 60px;

}
ul{ /*padre*/
    display: flex;
    height: 60px;
    /*justify-content:flex-end;*/
    align-items: center;
    
}
li{
    
    list-style: none;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin:10px;
    padding: 5px 20px;
    border-radius: 10px;
}
/*>animación*/
a:hover{
    background-color: rgba(0, 0, 0, 0.473);
    transition: 9ms;
}
.logo img{
    width: 40px;

}
.contenedor{
    max-width: 1500px;
    margin: 0 auto;
    align-items: center;    
    display: flex;
    justify-content: space-between;
}

/*------------BANNER---------------*/
.banner{
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 30px;
}
.banner img{
    width: 100%;
    height: 360px;

    object-fit: cover;
    object-position: bottom;
}
.banner img:hover{
    transform: scale(1.05);
    transition: 1s;

    
}
