/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Roboto:wght@100&family=Signika+Negative:wght@300&display=swap');

/*
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif;
*/
h1{
    font-family: 'Hind Siliguri', sans-serif;
}

p{
    font-family: 'Signika Negative', sans-serif;
}
.parrafo2{
    font-family: 'Roboto', sans-serif;
}