.contenedorNav{
    width: 100%;
    
   
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
    
}
  
.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li a:hover {
    background-color: #111;
}

/*main*/
.contenido{
    background-color: rgb(200, 198, 199);
   
}
.col-2{
    width: 16.7%;
    

}
.col-8{
    width: 66.7%;
    
}
.col-6{
    width: 50%;
   
    
  
}
.col-3{
    width:25%;
   
    
    
}
.contenedorTitulo{
    display: flex;
    height: 10em;
    
    
    
    
}
.KarenTitulo{
    
    
    text-align: center;
    line-height: 1em;
    padding-top: 50px;
    padding-bottom: auto;
    font-size: 2em;
    overflow: hidden;
    
}
.contenedorSecciones{
    width: 100%;
    height: 1.5em;
    background-color: rgb(200, 198, 199) ;
    display: inline-flex;


}
.icons{
    
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 100%;

}

.contenedor1{
    width: 100%;
    height:6em;
    display: inline-flex;

}
.c1-r1{
    height: 2em;
    background-color: aqua;

}
.c1-r2{
    height: 2em;
    background-color: rgb(5, 95, 95);

}
.c1-r3{
    height: 2em;
    background-color: rgb(185, 161, 104);

}

.cuadro{
    margin-right: 3px;
    height: 2em;
    width: 80%;
    margin-left: 5%;
    
}
.cF_el-1{
    background-color: #111;
    
}
.cF_el-2{
    position: relative;
    background-color: rgb(159, 159, 159);
    bottom: 1.5em;
    left: 5%;
    color: rgb(67, 67, 67);
    text-align: center;
    padding-top: 5%;
}
.textoCuadro{

    width: 100%;
    height: 100%;
    padding: 14px;
    font-size: 2.5vh;
}
